doc/html/
plume_mom.doxy
build/
bin/
**/*.mod
**/Makefile
src/IMEX_SfloW2D
docker-compose.text.yml
autom4te.cache/
config.log
config.status
configure~

#output
**/*.p_2d
**/*.q_2d
**/*.bak
**/*.inp
**/*.asc
**/*.o

#doxygen
my_project.md
doc/

#CodeBlocks
*.cbp

#vscode
.vscode/

#profiling
**/gmon.out
**/*prof*.txt
